.widget_handle {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  cursor: move;
}
.widget_delete {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: 0.75rem;
  cursor: pointer;
}
.widget_edit {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  cursor: pointer;
}
.widget_btn_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.widget_btn {
  width: 180px;
  height: 30px;
  cursor: pointer;
}
.widget_table_btn_wrap {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  button {
    background-color: orange;
    color: black;
    cursor: pointer;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}
.widget_table_wrap {
  width: 312px;
  overflow-x: auto;
}
.widget_table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid black;
}
.table_data {
  padding: 5px;
  border: 2px solid black;
}
.table_input {
  width: calc(100% - 6px);
  border: 1px solid grey;
}

.image_upload_wrap {
  width: 100%;
  display: flex;

  .uploaded_image {
    width: 70px;
    padding: 2px;
    border: 1px solid red;
  }
}
